window {
    border-radius: 15px;
    background-color: #00b7ff;
    background-image: url('bg.png');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

label.cursor {   
    /* color: #000000; */
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
}
